{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div id="the_body">
  <div>
    <br>
    <h2 class="text-center">Home Page</h2>
  </div>
<br>
<div>
    <p class="text-center">
        Enter a file hash in MD5 or SHA256 format to be scanned.<br/>
    </p>
  <form action="/search" METHOD="POST">
      <p class="text-center">
      <input type="text" placeholder="Hash" name="searched" size="50" style="height: 36px">
      <input type="submit" value="Search" class="btn btn-outline-primary">
      </p>
    </form>
</div>
</div>
{% endblock %}