{% extends "base.html" %}
{% block content %}
<div style="background-color:#e3e3e3">
<center>
    {% if result != 0 %}
    <br/><br/>
    <h6 style="color: #ff251e">{{ result }}</h6>
    {% endif %}
    <br/>
    <div style="background-color:#ffffff; width:33%">
    
    <form action="/password" METHOD="POST">
    <br>
    <h5 style="margin-left: 20px">Log In:</h5>
    <div style="background-color:#000000; height:4px; width:50%;"> </div>
    <br>
    <h6>Enter old password:</h6><input type="password" placeholder="Old Password" name="old"><br/><br/>
    <h6>Enter new password:</h6><input type="password" placeholder="New Password" name="new1"><br/><br/>
    <h6>Confirm new password:</h6><input type="password" placeholder="Confirm Password" name="new2"><br/><br/><br>
    <input type="submit" value="Update Password" class="btn btn-outline-danger">
    <br><br>
    </form>
    </div>
  </center>
<br><br><br><br><br><br><br><br>
</div>
{% endblock %}
